<div class="container">
    <div><h4>User List</h4></div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Serial No.</th>
            <th scope="col">User Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
        <tbody *ngFor='let i of array let el = index'>
            <tr>
                <th scope="row">{{el + 1 }}</th>
                <td>{{array[el].name}}</td>
                <td>{{array[el].age}}</td>
                <td>{{array[el].address}}</td>
            </tr>
        </tbody>
    </table>
</div>
