form {
    margin: 0 auto;
    padding-top: 7%;
    width: 300px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
  }
  
  label {
    color: rgb(17, 12, 12);
    font-size: 15px;
  }



  