<div class="container">
    <form (ngSubmit)="addNewUser()" #formDir="ngForm" [formGroup]="addUserForm">
        <div class="box">
            <div class="crages-validation">
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input id="userName" class="form-control" placeholder="Enter user name"
                        formControlName="userName" required minlength="2" #userName>
                    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                       
                            User name is required.
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" min="0" max="130" placeholder="Enter age" #age formControlName="age" class="form-control" id="age"
                        required>
                    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
                        Age is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" placeholder="Enter Address" #address formControlName="address" class="form-control"
                        id="address" required>
                    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                        
                            Address no. is required.
                
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!addUserForm.valid">Add</button>
                </div>
            </div>

        </div>
    </form>
</div>