form {
    margin: 0 auto;
    padding-top: 7%;
    width: 300px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid rgb(222, 238, 222);
    box-sizing: border-box;
  }
  
  label {
    color: rgb(17, 12, 12);
    font-size: 15px;
  }
  .container {
    width: 50%;
    position: relative;
  }
  .box2{
    position: absolute;
    margin-left: 32%;
  }
  .box{
    padding: 25px;
    background-color: rgb(129, 130, 131);
  }
  btn1 {
    padding: 10px;
    margin: 0px;
    background-color: red;
    border-radius: 100px;
    cursor: pointer;
    border: 0px;
  }
  